* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: inherit;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  touch-action: manipulation;
}
body,
html,
#app {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  overflow: hidden;
  color: white;
}

:root {
  background-color: #0f132a;
}
